<h1>Edit Recipe Name</h1>
<hr>

<%= form_for @recipe do |f| %>
<div class="input-field col s6">
    <%= f.text_field :title%>
    <%= f.text_field :category%>
    <div class="btnCenter">
        <%= f.submit 'Edit Recipe', class: 'btn'%>
    </div>
</div>
<% end %>