
<div id="mainpg">
    <center>
        <h2 class="pgsh">Welcome to</h2>
        <h1 class="pgsh">Chef Amatuer</h1>
            <p class="welcomeP">Create an account and post your best recipes for others to try. <br> Check out other chefs accountand and try there recipes. <br> You can also share your thoughts on there recipes.</p>
        <hr>
    </center>

    <p class="welinks">

        <%= link_to 'Log In', login_path, :class => 'first_links' %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Sign Up', new_user_path, :class => 'first_links' %>

    </p>
</div>